.clinicalSection {
    margin-bottom: 60px;
    padding: 0px 0 60px 0;
    padding-top: 100px;
    background-image: url(/v2_images/ClinicallyBg.jpg);
    background-size: cover;
    background-position: 44%;
    text-align: center;
    h2 {
        text-align: center;
        color: white;
        max-width: 700px;
        margin: 0 auto 60px;
        font-size: 32px;
    }
    .slick-slider {
        .slick-slide {
            .cart-wrapper {
                background: none;
                border: none;
                display: flex;
                flex-direction: column-reverse;
                .title-wrapper {
                    color: $fc-white;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .code {
                        color: $fc-white;
                    }
                }
            }
        }
        .slick-arrow {
            background-color: $fc-white !important;
            i {
                color: $fc-black;
            }
        }
    }
}

@media screen and (max-width: 490px) {
    .clinicalSection {
        .clinicalList {
            display: flex !important;
            justify-content: center;
        }
        .slick-initialized {
            width: 250px;
        }
    }
}

@media (min-width: 490px) and (max-width: 600px) {
    .clinicalSection {
        .clinicalList {
            display: flex !important;
            justify-content: center;
        }
        .slick-initialized {
            width: 425px;
        }
    }
}

@media (min-width: 600px) and (max-width: 800px) {
    .clinicalSection {
        .clinicalList {
            display: flex !important;
            justify-content: center;
        }
        .slick-initialized {
            width: 550px;
        }
    }
}

@media (min-width: 800px) and (max-width: 900px) {
    .clinicalSection {
        .clinicalList {
            display: flex !important;
            justify-content: center;
        }
        .slick-initialized {
            width: 700px;
        }
    }
}

@media (min-width: 900px) and (max-width: 1100px) {
    .clinicalSection {
        .clinicalList {
            display: flex !important;
            justify-content: center;
        }
        .slick-initialized {
            width: 800px;
        }
    }
}