.car-achievers {
    margin: 40px 0px;
    .table-wrapper {
        thead {
            vertical-align: bottom;
        }
        tr {
            padding: 25px 20px !important;
            color: #444;
            text-transform: uppercase;
            border: 1px solid #e1e5de;
            text-align: left;
            font-size: 16px;
            th {
                padding: 25px 20px !important;
                color: #444;
                text-transform: uppercase;
                border: 1px solid #e1e5de;
                font-weight: 700;
                text-align: left;
                font-size: 16px;
            }
        }
        tbody {
            vertical-align: inherit;
            td {
                padding: 25px 20px !important;
                color: #444;
                text-transform: uppercase;
                border: 1px solid #e1e5de;
                text-align: left;
                font-size: 16px;
            }
        }
    }
    .car-achiever-item {
        margin-bottom: 30px;
        min-height: 230px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
        padding: 10px;
        p {
            color: #222;
            margin-top: 1rem;
        }
    }
}

.success-stories-loader {
    position: relative;
    background: none;
    z-index: 0;
    height: 100%;
}

.success-area {
    padding-top: 40px;
    .success-wrapper {
        min-height: 475px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
        margin-bottom: 30px;
        img {
            display: block;
            position: relative;
            width: 100%;
            height: 300px;
            object-fit: cover;
            object-position: top;
            margin-bottom: 10px;
        }
        h2 {
            color: #000;
            text-align: left;
            padding: 5px;
            position: relative;
            font-size: 17px;
            margin: 0px;
            line-height: 1.6;
        }
        p {
            color: #000;
            text-align: left;
            padding: 5px;
            position: relative;
            line-height: 1.6;
            a {
                color: #005BAA;
                &:hover {
                    color: #005BAA;
                }
            }
        }
    }
}

.achievers-list {
    margin-top: 40px;
    .achievers-name {
        width: 25%;
        text-align: center;
        border: 1px solid #e1e5de;
        padding: 30px;
        font-size: 1rem;
        font-weight: 500;
        color: #222;
    }
}

.no-data {
    font-size: 2rem;
    text-align: center;
    padding: 40px;
}

@media(max-width:767px) {
    .vestigeabt-area {
        .sucess-stories {
            .text-decoration-none {
                .card {
                    &.card-product.mb-lg-4 {
                        .card-body {
                            .read-more {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
    .achievers-list {
        .achievers-name {
            width: 100%;
        }
    }
}

@media (min-width: 550px) and (max-width: 991px) {
    .car-achievers {
        .col-lg-4 {
            width: 50%;
        }
    }
}

@media screen and (max-width: 550px) {
    .car-achievers {
        .col-lg-4 {
            width: 100%;
        }
    }
}